<li>
  <div class="profileposts">
    <div class="profile_thumbnails">
      {{thumbnail}}
    </div>
    <a href="/posts/{{id}}" class="postTitle">{{title}}</a>
    <form method="post" action="/posts/delete/{{id}}">
      <button class="delete" type="submit" data-postid="{{id}}"> Delete </button>
    </form>
  </div>
</li>